/** responsiveness of the site
 */

@media only screen and (max-width: 768px) {
    body{
        width: 800px;
    }
    .main {
        width: 700px;
        margin-left: 25px;
    }
    .container .tim-container{
        width: 700px;
        max-width: 800px;
    }
    .col-md-9 li {
        font-size: 2em;
    }
    #fotolink{
        margin-left: 10px;
    }
    .navbar-header{

    }
    .navbar {
        position: fixed;
        min-height: 50px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }
}